<div class="container">
  <div class="row">
    <div class="col-ax-12">
      <h3>This is my first app</h3>
      <hr>
      <app-servers></app-servers>
      <hr>

      <ul>
        <li>
          <p>count 1</p>
        </li>
        <li>
          <p>count 2</p>
        </li>
        <li>
          <p>count 3</p>
        </li>
        <li>
          <p>count 4</p>
        </li>
      </ul>

      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>